__pycache__/
*.pyc
*.pyo
*.pyd
.idea/
.vscode/
.trae/

output/
*.jpg.txt
labels.cache

*.pt
*.pth

.DS_Store

map_line_dataset/unet_format/
map_line_dataset/yolo_format/
map_line_dataset/patch_masks/
map_line_dataset/patch_data/
map_line_dataset/**/*_infer.jpg
map_line_dataset/**/*_mask.png
output_old_resize
models/
*.zip
map_line_dataset/gcp/
map_line_dataset/test_data/
map_line_dataset/verify_data/

boundaries/chgis_labelme/
boundaries/chgis_output/
boundaries/topology_review/
boundaries/test_data/
recover_output/
boundary_train.tar.gz
